@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

#main-container {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 18rem;
  padding: 1rem 4rem;
  background-image: url("../assets/banner 6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: column wrap;
}
header .header__logo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .header__logo-btn h1 {
  color: white;
}
@media (max-width: 550px) {
  header .header__logo-btn h1 {
    font-size: 1rem;
  }
}
header .header__logo-btn button {
  background: #2EB62C;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  font-weight: bold;
  border: 3.5px solid #2EB62C;
  transition-duration: 200ms;
  transition-property: background;
}
@media (max-width: 550px) {
  header .header__logo-btn button {
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-family: "Poppins", sans-serif;
  }
}
header .header__logo-btn .header__btn-wrapper {
  border-radius: 0.6rem;
  overflow: hidden;
}
header .header__logo-btn button:hover {
  background: transparent;
}
header .header__project-info {
  margin-top: 3rem;
}
header .header__project-info h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media (max-width: 800px) {
  header .header__project-info h2 {
    font-size: 2.3rem;
  }
  header .header__project-info p {
    font-size: 0.8rem;
  }
}
@media (max-width: 550px) {
  header .header__project-info h2 {
    font-size: 2rem;
    text-align: center;
  }
  header .header__project-info p {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media (max-width: 800px) {
  header {
    padding: 1rem 1rem 2rem 1rem;
    height: auto;
  }
}

main {
  width: 100%;
}

.main__banner {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  filter: grayscale(100%);
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 4rem;
}
.main__banner h2 {
  color: white;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.main__banner p {
  color: white;
  font-size: 1.2rem;
  width: min(40rem, 100%);
}

.main__animals-list {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.main__sobre {
  width: 70%;
  margin: 2rem auto 5rem auto;
}
.main__sobre h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.main__sobre p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.6rem;
}
@media (max-width: 800px) {
  .main__sobre {
    margin: 2rem auto;
    width: 80%;
  }
  .main__sobre h3 {
    font-size: 1.7rem;
  }
  .main__sobre p {
    font-size: 0.6rem;
  }
}

.animals-list__animal-card {
  width: max(70%, 30rem);
  height: auto;
  background: linear-gradient(45deg, #2EB62C, #6bd362);
  display: flex;
  overflow: hidden;
  border-radius: 0.7rem;
  transition-duration: 200ms;
  transition-property: height;
  transition-timing-function: ease-in;
}
.animals-list__animal-card img {
  height: auto;
  min-width: 19rem;
  flex: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.animals-list__animal-card .animal-card__animal-description {
  height: 100%;
  flex: 1;
  padding: 1.5rem 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.animals-list__animal-card .animal-card__animal-description h3 {
  padding: 0 2rem;
}
@media (max-width: 800px) {
  .animals-list__animal-card .animal-card__animal-description h3 {
    padding: 1rem 0.7rem 0 0.7rem;
  }
}
.animals-list__animal-card .animal-card__animal-description p {
  padding: 0.5rem 2rem;
}
@media (max-width: 800px) {
  .animals-list__animal-card .animal-card__animal-description p {
    padding: 0.5rem 0.7rem;
  }
}
.animals-list__animal-card .animal-card__animal-description .animal-description__charac-list {
  padding: 0 2rem;
}
@media (max-width: 800px) {
  .animals-list__animal-card .animal-card__animal-description .animal-description__charac-list {
    padding: 0 0.7rem;
  }
}
.animals-list__animal-card .animal-card__animal-description .animal-description__expand-info {
  padding: 0 2rem;
  max-height: 0;
  overflow: hidden;
  transition-duration: 1200ms;
  transition-property: max-height;
  margin: 1rem 0;
}
@media (max-width: 800px) {
  .animals-list__animal-card .animal-card__animal-description .animal-description__expand-info {
    font-size: 0.75rem;
    padding: 0 0.7rem;
  }
}
.animals-list__animal-card .animal-card__animal-description .animal-description__expand-info-active {
  max-height: 20rem;
}
.animals-list__animal-card .animal-card__animal-description .animal-description__expand-info-btn {
  width: 100%;
  height: 2rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 400ms;
  transition-property: position, bottom;
  position: absolute;
  bottom: -2rem;
  right: 0;
}
.animals-list__animal-card .animal-card__animal-description .animal-description__expand-info-btn .expand-info-btn__img {
  min-width: 1rem;
}
@media (max-width: 550px) {
  .animals-list__animal-card .animal-card__animal-description {
    padding: 0 1rem 1rem 1rem;
  }
  .animals-list__animal-card .animal-card__animal-description p {
    font-size: 0.8rem;
  }
  .animals-list__animal-card .animal-card__animal-description h3 {
    font-size: 1.2rem;
  }
  .animals-list__animal-card .animal-card__animal-description b, .animals-list__animal-card .animal-card__animal-description span {
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .animals-list__animal-card {
    flex-flow: column nowrap;
  }
  .animals-list__animal-card img {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .animals-list__animal-card {
    width: 85%;
  }
}

.animals-list__animal-card:hover .animal-description__expand-info-btn {
  bottom: 0;
}

footer {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
@media (max-width: 550px) {
  footer {
    font-size: 0.8rem;
  }
}

.modal-blur {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
}

.modal-contribuir {
  width: min(30rem, 80%);
  background-color: white;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  position: absolute;
  right: calc(50% - 15rem);
  top: 30%;
}
.modal-contribuir ul {
  list-style: circle;
}
.modal-contribuir ul li {
  margin-top: 1rem;
}
@media (max-width: 800px) {
  .modal-contribuir {
    right: calc(50% - 8rem);
    top: 10%;
  }
  .modal-contribuir li {
    font-size: 0.7rem;
  }
  .modal-contribuir h3 {
    font-size: 1rem;
  }
}

.modal-active {
  display: flex;
}/*# sourceMappingURL=main.css.map */